VITE_FIREBASE_API_KEY=AIzaSyCn_eHREYCqtCxOtM4ShWmW_O--AX-6O5I
VITE_FIREBASE_AUTH_DOMAIN=fluent-radar-319304.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fluent-radar-319304
VITE_FIREBASE_STORAGE_BUCKET=fluent-radar-319304.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=518852852793
VITE_FIREBASE_APP_ID=1:518852852793:web:a062b7edf3d9e47b6eb3e8
VITE_FIREBASE_MEASUREMENT_ID=G-MCT96ME2CZ